:root {
  --primary-color: rgb(68, 68, 68);
  --secondary-color: #f5f2fe;
}

.body,
body {
  background-color: #dbd3ca;
}
body {
  margin: 130px 0px;
}
h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-size: 110px;
  font-family: "Satisfy", cursive;
}

h2 {
  font-size: 40px;
  color: rgb(68, 68, 68);
  font-family: "Satisfy", cursive;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
  color: rgb(47, 45, 45);
}

p {
  margin: 0px 20px;
  font-size: 24px;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(68, 68, 68);
}
.navbar-brand {
  font-family: "Satisfy", cursive;
  font-size: 25px;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
}

.primary-link {
  border-radius: 45px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);

  color: white;
}

.secondary-link {
  border-radius: 45px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.intro {
  margin: 30px;
}
.contentPage h2 {
  font-size: 64px;
  line-height: 80px;
  font-weight: bold;
}
.contentPage h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  font-family: "Poppins", sans-serif;
  color: black;
}
.btn-branding {
  font-family: "Poppins", sans-serif;
  background: rgb(68, 68, 68);
  color: white;
  border-radius: 45px !important;
  font-size: 18px !important;
  line-height: 27px !important;
  padding: 15px 30px !important;
}

.content h2 {
  text-align: center;

  line-height: 80px;

  font-weight: bold;
}
.content p {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;

  font-family: "Poppins", sans-serif;
}
.contentt {
  padding: 150px 120px;
}
.more-content {
  margin: 30px;
}
.contentt h2 {
  font-size: 64px;
  line-height: 80px;

  font-weight: bold;
}
.contentt h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.5;
}
.contentt p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
}

.footer-part {
  background: #f9f7fe;
  padding: 30px;
}

footer h3 {
  font-size: 45px;
  font-weight: bold;
  font-family: "Playfair Display", serif;
}
.contact-section {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}

footer {
  margin: 100px 0px;
  text-align: center;
}

footer i {
  margin: 20px;
  color: rgb(68, 68, 68);
  font-size: 17px;
  background: #f9f7fe;
  padding: 10px;
  border-radius: 30px;
}
footer i:hover {
  color: #f9f7fe;
  background: rgb(68, 68, 68);
}

@media (max-width: 992px) {
  .primary-link {
    padding: 16px 11px;
  }
  .final {
    text-align: center;
  }
  h1 {
    font-size: 86px;
  }

  h2 {
    font-size: 38px;
  }

  h3 {
    font-size: 20px;
    opacity: 0.7;
  }

  p {
    font-size: 20px;
    line-height: 1.5;
  }
  .contentPage h2 {
    font-size: 54px;

    font-size: 44px;
  }

  .contentPage {
    text-align: center;
  }
  .contentt {
    text-align: center;
  }
}
